<mat-card class="bond-card">
  <div class="bond-card-header">
    <div style="padding: 10px">
      <p style="text-align: center; font-weight: bold">{{bond.name}}</p>
    </div>
    <div style="height: 1px; background: black"></div>
    <div class="bond-card-issuer">
      <div class="bond-card-issuer-column-1">
        <p>Bono emitido por:</p>
      </div>
      <div class="bond-card-issuer-column-2">
        <div style="align-content: center">
          <p>{{bond.issuer.name}} {{bond.issuer.surname}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bond-card-content">
    <p>Valor nominal: {{bond.nominalValue}}</p>
    <p>Valor comercial: {{bond.comercialValue}}</p>
    <p>Años de vigencia: {{bond.years}}</p>
    <p>Tipo de tasa:
      <span [ngSwitch]="bond.interestRateType">
          <span *ngSwitchCase="'EFFECTIVE'">Efectiva</span>
          <span *ngSwitchCase="'NOMINAL'">Nominal</span>
          <span *ngSwitchDefault>{{ bond.interestRateType }}</span>
        </span>
    </p>
    <p>Tasa: {{bond.interestRatePercentage}}%</p>
    <p>Frecuencia del cupón:
      <span [ngSwitch]="bond.cuponFrequency">
          <span *ngSwitchCase="'MONTHLY'">Mensual</span>
          <span *ngSwitchCase="'BIMONTHLY'">Bimestral</span>
          <span *ngSwitchCase="'TRIMESTRAL'">Trimestral</span>
          <span *ngSwitchCase="'QUADRIMONTHLY'">Cuatrimestral</span>
          <span *ngSwitchCase="'SEMIANNUAL'">Semestral</span>
          <span *ngSwitchCase="'ANNUAL'">Anual</span>
          <span *ngSwitchDefault>{{ bond.cuponFrequency }}</span>
        </span>
    </p>
  </div>
</mat-card>
